extends ./include/layout.old.pug


block body
    div.no-image#container-header
        pre.header-text.text-center.no-image(style="position: static;").
            <strong>Exam Jam 2018</strong>
            
        div.container-groups
            div.container-courses
                table
                    each row in rows
                            tr
                                td(rowspan="#{row.numExamJams}") 
                                      strong #{row.className}
                                td.date #{row.date}
                                td.location #{row.location}
    
