extends ./include/layout.old.pug

mixin withName(num, name, date, loc)
    td(rowspan = num ) = name
    td.date = date
    td.location = loc
    
mixin noName(date, loc)
    td.date = date
    td.location = loc

block body
    div.no-image#container-header
        pre.header-text.text-center.no-image(style="position: static;").
            <strong>Exam Jam 2018</strong>
            
        div.container-groups
            div.container-courses
                table
                    - let prev = "none";
                    each row in rows
                        if row.className === prev
                            +withName(row.numExamJams, row.className, row.date, row.location)
                        else
                            +noName(row.date, row.location)
                        - prev = row.className
    
                        
                        
    
