extends ./include/layout.old.pug

block body
    div#container-header
        img(src="/img/online/header.jpg", alt="Students studying at the MAC")
        pre.header-text.text-left(style="color: white;").
            <strong>we bring</strong>

            the <strong>tutoring</strong>

            <strong>to you</strong>
    div.container-body
        div.
        p
            | Our online services have changed as of January 23, 2017.
            | If you have any questions, please contact us&nbsp;
            a(href="/contact") here
            | .
        p Please click the button below to access our online services.
        a.btn-nexus(href="https://test.nexus.crossroadseducation.org") Nexus Online Tutoring
