#container-header img {
	width: auto;
	position: absolute;
	left: 30%;
	top: 10%;
	margin-top: 30px;
}

#container-header.no-image {
	border-bottom: 0px !important;
	margin-bottom: 30px;
}

#form-container {
	display: inline-block;
	width: 60%;
	padding-left: 100px;
}

#contact-container {
	display: inline-block;
	padding-right: 15px;
	margin-top: 100px;
	text-align: left;
	vertical-align: top;

	margin-left: 40px;
}

#contact-container strong {
	font-size: 1.8em;
	font-weight: 750;
}

#mac-stat-contact {
	margin-top: 30px;
}
.label-form {
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: top;
	float: left;
	clear: both;
	font-weight: bolder;
	font-size: 1.3em;
	margin-left: 40px;
	overflow: hidden;
}

.poshy {
    font-size: 14px;
    font-weight: lighter;
    border-radius: 7px 7px 7px 7px;
    background-color: #F7F7F7;
    margin-bottom: 30px;
    width: 65%;
    float: left;
	clear: both;
    border: 0;
    margin-left: 40px;
	padding-left: 10px;
}

input.poshy {
    display: inline;
    vertical-align: top;
	max-width: 300px;
	height: 30px;
}

textarea.poshy {
	display: inline-block;
    max-width: 400px;
    min-height: 100px;
    resize: none;
	padding-top: 10px;
}

.container-box {
	margin-bottom: 20px;
	padding: 0;
}

.container-box form {
    display: inline-block;
    width: 100%;
}

.container-submit button {
    display: block;
	position: relative;
	width: 180px;
	height: 45px;
	border: 2px solid #b30f1a;
    border-radius: 25px;
    color: #000;
    font-size: 1.1em;
	font-weight: bold;
	background-color: #FFF;
}

.container-submit {
	float: left;
	clear: both;
	padding: 10px 12%;
	text-align: center;
	margin-bottom: 70px;
}
