
div#body, div#body *:not(.fa){
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#mobile-nav {
    color:transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    float: right;
    position: static;
}

.navbar-toggle {
    border-color: transparent !important;
}

.navbar-collapse {
    border-color: transparent !important;
}

.navbar-element a {
    color: white;
    font-size: 24px;
    font-weight: 800 !important;
}

.navbar-element-small a{
    font-size: 20px;
    font-weight: 600 !important;
}

.navbar-element-small a {
    color: white;
}

.on-click {
    float: none !important;
    background-color: #333333;
    z-index: -100;
    width: 100%;
}

.icon-bar {
    background-color: white !important;
}

#container-navbar-desktop {
	width: 100%;
	padding-bottom: 0px;
}

#container-navbar-desktop a {
    font-weight: 800 !important;
}

#mobileNavBar {
    width: 100%;
}

.container-navlinks-desktop {
	list-style-type: none;
	height: 100%;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-left: 0;
	margin: 0px;
}

#mobile-nav {
    width: 100%;
    border: 0;
    position: relative;
    z-index: 5;
}

#navbar-container {
    padding: 0 0 0 0;
}

.fa-times {
    padding: 0 0 0 0 !important;
    color: white !important;
    font-size: 1.8em;
}

.navbar-background {
    background-color: #333333;
}

#navbar-header {
    margin: 10px 0 0 0;
}

#navbar-list li:nth-of-type(1), #navbar-list li:nth-of-type(5), #navbar-list li:nth-of-type(7){
    margin-top: 35px;
}

.social-media-mobile .mac-facebook {
    margin-left: 20px;
}

#navbar-list {
    margin-bottom: 100%;
}

#navbar-button {
    background-color: transparent !important;
}

.container-navlinks-desktop>li {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	height: 45px;
	vertical-align: top;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 5px;
}

.container-navlinks-desktop>li>a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.slimmenu a, a:active {
    text-decoration: none;
}

.mac-logo {
	background-image: url('/img/logo.png');
	padding: 26px 56px;
	background-size: cover;
	display: inline-block;
}

.mac-logo.white {
	background-image: url('/img/logo_white.png');
}

.container-navlinks-desktop>#nav-image {
	padding: 13px 20px 0px;
	margin-left: 5px;
	margin-right: 0px;
}

#body {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    max-width: 100%;
}

#container-footer-desktop table {
    width: 100%;
}

.column-container {
    width: 33%;
}

#container-footer-desktop {
    padding-bottom: 0px;
    background-color: #333333;
    margin-top: 0px;
}

#container-footer-desktop td {
    border: 1px solid #5E5757;
}

.list-text {
    color: white !important;
    font-weight: 800 !important;

}

.footer-column1-list {
    padding-left: 120px;
    border-right: 0px;
    padding-right: 0px;
}

#mobile-footer-table {
    width: 75%;
    margin: 0 auto;
}

#mobile-footer-table td{
    width: 33.3333%;
}

#mobile-footer-table li {
    padding-bottom: .75em;
}

#mobile-footer-table ul{
    padding: 0;
}

.footer-column1 li {
    text-align: left;
}

.mac-twitter {
    max-width: 35px;
    max-height: 35px;
}

.row-image {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
}

.footer-column1 {
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    vertical-align: top;
}

.footer-column3-mobile {
    vertical-align: top;
}

@media (max-width: 320px){
    .footer-telephone {
        margin-right: 2% !important;
    }
}

@media (max-width: 425px){
    .footer-column1 ul {
        padding-left: 0px;
    }

    #footer-v1 {
        padding-top: 0px !important;
    }
}

#stat-address-mobile {
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.footer-column2 {
    border-left: 0px !important;
    border-bottom: 0px !important;
    vertical-align: top;
}

.footer-column2-list {
    border-left: 0px;
    padding-left: 0px;
    padding-right: 15%
}

.footer-column2-list li a:hover, .footer-column1-list li a:hover, .footer-column3 ul li a:hover, .footer-column4 a:hover{
    text-decoration: none !important;
    color: #B8BBBC !important;
}

.footer-column2 li {
    text-align: left;
}

#container-footer-desktop li {
    padding-top: 22px;
    padding-bottom: 22px;
}

.mac-facebook {
    max-width: 35px;
    max-height: 35px;
    vertical-align: top;
    margin-left: 10px;
}

#btn-employee {
    background-color: #2B2B2B;
    color: white !important;
    width: 235px;
    padding-bottom: 10px;
    padding-top: 12px !important;
    font-size: 1.2em;
    height: 52px !important;
}

#btn-employee-mobile {
    margin: auto 0;
    padding-top: 12px;
    background-color: #4D4D4D;
    width: 75%;
    margin-bottom: 25px;
}

.footer-column-container {
    width: 33%;
}

#address-container {
    padding-left: 5% !important;
}

.address {
    font-size: 20pt;
    text-align: left;
    line-height: 20pt;
    font-weight: 200 !important;
}

.address-mobile {
    font-size: 12pt;
    text-align: left;
    font-weight: 200 !important;
    margin-left: 12.5%;
    max-width: 9em;
}

.address-mobile::first-line{
    font-weight: 600 !important;
}

#footer-telephone {
    font-size: 20pt !important;
    font-weight: lighter !important;
    color: white !important;
}

.footer-telephone {
    font-size: 12pt;
    color: white;
    float:right;
    font-weight: 200 !important;
    margin-right: 15%;
    margin-top: 5%;
}

#footer-logo {
    background-size: cover;
    background-image: url("../img/logo_white.png");
    margin: 42px 0px 38px 51px;
    width: 156px;
    height: 72px;
    text-align: left;
}

#footer-logo-mobile {
    background-size: 100% 100%;
    background-image: url("../img/logo_white.png");
    width: 100px;
    height: 46px;
    text-align: left;
    margin: 0 0 0 5%;
}

#container-footer-mobile {
    background-color: #333333;
    padding-top: 20px;
}

.mobile-break {
    border-top: 1px solid #4D4D4D !important;
    margin-bottom: 25px;
    padding: 0 0 0 0;
}

.footer-column3 {
    padding-top: 25px;
    padding-bottom: 20px;
    width: 25%;
    border-bottom: 0px !important;
}

.footer-column3 ul {
    padding-left: 0 !important;
}

.footer-column3 li a {
    font-weight: 300 !important;
}

.footer-column4 {
    border-bottom: 0px !important;
    border-right-width: 0px !important;
}

.socialMedia {
    padding-top: 5%;
    float: left;
}

.social-media-mobile {
    float: right;
    margin: 3% 15% 0 0;
}

#mobile-links-container {
    margin: 0 0 5% 0;
}
