div#body, div#body *:not(.fa) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#navBar {
	width: 100%;
	/*height: 80px;*/
	padding-bottom: 0px;
	display: inline-block;
	position: relative;
}

.navLinks {
	list-style-type: none;
	height: 100%;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-left: 0;
	margin: 0px;
}

.navLinks>li {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	height: 45px;
	vertical-align: top;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 5px;
}

.navLinks>li>a {
	text-decoration: none;
	color: white;
	font-weight: bold;

}

.slimmenu a, a:active {
    text-decoration: none;
}

.MAC_Logo {
	background-image: url('/img/logo.png');
	/*width: 150px;
	height: 70px;*/
	padding: 26px 56px;
	background-size: cover;
	display: inline-block;
}

.MAC_Logo_white {
	background-image: url('/img/logo_white.png');
	/*width: 150px;
	height: 70px;*/
	padding: 26px 56px;
	background-size: cover;
	margin: 20px 75px;
	/*padding-left: 0;*/
	display: inline-block;
}

.navLinks>#nav-image {
	/*padding-top: 0px;*/
	padding: 13px 20px 0px;
	margin-left: 5px;
	margin-right: 0px;
	/*height: 70px;*/
}

#body {
    margin-left: 0px !important;
}
