#container-header {
	overflow: hidden;
}

.container-body {
	padding: 20px;
	text-align: center;
	position: relative;
	top: -150px;
	margin: 0 0 -150px 0;
	z-index: 5;
	background: white;
}

.btn-nexus {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 25px;
	background: #FFFFFF;
	padding: 5px 0;
	width: 240px;
	box-sizing: border-box;
	margin: 0 10px 10px 10px;
	border: 2px solid #C72027;
}

.btn-nexus:hover {
	background-color: #C72027;
	color: #FFF;
}
