#container-header {
	overflow: hidden;
}

.list-buttons {
	padding: 20px;
    padding-bottom: 150px;
	text-align: center;
	position: relative;
	top: -150px;
	margin: 0 0 -150px 0;
	z-index: 5;
	background: white;
}

.list-buttons ul {
	margin: 0;
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 25px;
}

.list-buttons li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	text-align: center;
}

.list-buttons a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 25px;
	background: #FFF;
	padding: 5px 0;
	width: 240px;
	box-sizing: border-box;
	margin: 0 10px 10px 10px;
	border: 2px solid #C72027;
}

.list-buttons a:hover {
	background-color: #C72027;
	color: #FFF;
}

.list-buttons ul li {
	display: block;
	font-weight: bold;
}

.list-buttons a.closed {
	border-color: #cecece;
	color: #cecece;
}

.list-buttons a.closed:hover {
	border-color: #cecece;
	color: #cecece;
	cursor: default;
	background: #FFF;
}

.list-buttons ul.closed {
	color: #cecece;
}
