extends ../include/layout.old.pug

block body
    h3 Access Denied
    p.
        According to our records, you are not currently a student, professor, or athletic director.
        <br/>
        If you believe this is a mistake, please contact us by emailing
        <a href="mailto:mathmac@iupui.edu">mathmac@iupui.edu</a>.
