div.box.empty.container-single
    h1
    p
    table
        thead
            tr
                th Courses
                th Date
                th Time In
                th Time Out
                th Hours
        tbody
